<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <div class="container" align="right" dir="rtl">
    <img class="me-1" src="./././assets/slack.png" alt="">
    <a class="navbar-brand p1-s" href="#">اللوجو</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="d-flex">
            <img src="./././assets/Group 340.png" alt="">
            <p class="mt-2 me-2 p1-s" >!مرحبا بك </p>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            محمداشرف
          </a>
          <ul   class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li align="right" dir="rtl"><a class="dropdown-item" href="#"> <img src="./././assets/Group 201.png" alt=""> <span class="me-1 p1-s">الحساب الشخصى</span> </a> </li>
            <li ><hr class="dropdown-divider"></li>
            <li align="right" dir="rtl"><a class="dropdown-item" href="#"><img src="./././assets/Group 371.png" alt=""><span class="me-1 p1-s">التقويم</span></a></li>
            <li align="right" dir="rtl"><a class="dropdown-item" href="#"><img src="./././assets/Group 202.png" alt=""><span class="me-1 p"> تسجيل الخروج</span></a></li>
          </ul>
        </li>
        <li class="nav-item brdr">
          <div class="d-flex">
            <img src="./././assets/Path 719.png" class="pic " alt="">
            <p class="mt-2 me-2 p1-s">اللغة العربية </p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
