.brdr{
}
*{
  font-weight:bolder;
}

.p1-s{
  font-size: 22;
  color: #0a0094;
  margin-top: 15px;
  font-family: 'Tajawal', sans-serif;
}

.pic {
  width: 21px;
  height: 21px;
  margin-top: 11px;
  margin-right: 5px;
}
.dropdown-toggle::after {
  display: none;
}



.dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.p1-s{
  color: #0a0094;
  font-family: 'Tajawal', sans-serif;

}
.p{
  color: #ff0000;
  font-family: 'Tajawal', sans-serif;
}
